---
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Barlow:400,700|Spicy+Rice&display=swap');

$spicy-rice:'Spicy Rice', cursive;
$barlow:'Barlow', sans-serif;

$black-text: #303030;
$grey-subtext: #767676;

$dark-orange: #E25B45;
$light-orange: #FF8357;
$yellow: #FAC172;
$blue: #89D5C9;
$green: #ADC865;

h2,h3 {
  font-family:$barlow;
}

h3 {
  margin-bottom: 0;
  font-weight: bold;
}

.logo-title {
  display:flex;
  margin: 18px 0;
}

.logo {
  width:26%;
}

.title {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:74%;
}

.site-header {
  background-color: $yellow;
}

.site-title {
  padding: 0px;
  font-family: $spicy-rice;
  font-size: 13vw;
  background: $black-text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .site-title {
     font-size: 100px;
  }
}

@media screen and (min-width: 450px) {
  .site-title {
     padding: 16px 0;
  }
}

.site-title:visited {
  background: $black-text;
  text-decoration: none;
}

.site-title:hover {
  background: #e25b45; /* Old browsers */
  background: -moz-linear-gradient(left,  #e25b45 0%, #ff8357 31%, #89d5c9 67%, #adc865 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #e25b45 0%,#ff8357 31%,#89d5c9 67%,#adc865 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #e25b45 0%,#ff8357 31%,#89d5c9 67%,#adc865 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e25b45', endColorstr='#adc865',GradientType=1 ); /* IE6-9 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.site-title span {
  font-size: 7vw;
}

@media screen and (min-width: 800px) {
  .site-title span {
     font-size: 60px;
  }
}

.main-nav {
  float: right;
}

.main-nav .page-link:not(:last-child) {
    margin-right: 20px;
}

.page-content {
  background-color: #FCF8ED;
}

.page-link {
  padding: 1px 4px 0;
  color: $black-text;
  font-size: 5vw;
  font-weight: bold;
  flex-grow: 1;
  flex-basis: auto;
  text-align: center;
}

.page-link i {
  transform: rotate(0);
  transform-origin: 18% 100%;
  transition: transform .1s ease-out;
}

.page-link:hover i {
  transform: rotate(-11deg);
}

@media screen and (min-width: 800px) {
  .page-link {
     font-size: 30px;
  }
}

.page-link:visited {
  color: $black-text;
}

.page-link:hover, .page-link:active {
  background-color: #6ccbbc;
  text-decoration: none;
}

.one {
  border-bottom: solid 4px #4fc0af;
  border-left: solid 2px $black-text;
  border-right: solid 2px $black-text;
}

.two {
  border-bottom: solid 4px #4fc0af;
  border-left: solid 1px $black-text;
  border-right: solid 2px $black-text;
}

.one:hover {
  border-bottom: solid 4px $yellow;
}

.two:hover {
  border-bottom: solid 4px $green;
}

.one--active {
  border-bottom: solid 4px $yellow;
  border-left: solid 2px $black-text;
  border-right: solid 2px $black-text;
  background-color: $blue;
}

.two--active {
  border-bottom: solid 4px $green;
  border-left: solid 1px $black-text;
  border-right: solid 2px $black-text;
  background-color: $blue;
}

.one--active i {
  transform: rotate(-11deg);
}

.two--active i {
  transform: rotate(-11deg);
}

.site-footer {
  padding: 16px 0;
  border-top: 2px solid $black-text;
  background: $yellow;
}

.site-footer a {
  color: $black-text;
}

.footer-col {
  margin-bottom: 1px;
  margin-top: 1px;
}

.contact-list, .social-media-list {
    margin-bottom:0;
}

.wrapper-container {
  background: #4fc0af;
  border-top: 2px $black-text solid;
  border-bottom: 2px $black-text solid;
}

.wrapper--nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wrapper--nav::after {
  content: normal;
}

.post-list > li {
  margin-bottom: 30px;
}

@media screen and (min-width: 800px) {
  .post-list > li {
    margin-bottom: 40px;
  }
}

.post {
  position: relative;
}

.post a {
  display: block;
  width: 100%
}

.post a:hover {
  text-decoration: none;
}

.post img {
  border-radius: 3px;
}

.post a:hover img {
  filter: brightness(80%);
}

.post__info {
  // position: absolute;
  // bottom: 0px;
  // left: 0px;
  padding: 6px 0px;
}

// .post__vans .post__info {
//   border-left: solid 6px $green;
//   border-bottom: solid 6px $green;
// }
// .post__bikes .post__info {
//   border-left: solid 6px $yellow;
//   border-bottom: solid 6px $yellow;
// }

.post__info h3 {
  color: $black-text;
  font-size: 4vw;
}

@media screen and (min-width: 800px) {
  .post__info h3 {
    font-size: 24px;
  }
}

.post-meta {
  color: $grey-subtext;
  font-size: 3vw;
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  .post-meta {
    font-size: 12px;
  }
}
