---
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice|Ubuntu');

$spicy-rice:'Spicy Rice', cursive;
$ubuntu:'Ubuntu', sans-serif;

h2,h3 {
  font-family:$ubuntu;
}

.logo-title {
  display:flex;
}

.logo {
  width:30%;
}

.title {
  display:flex;
  flex-direction: column;
  align-items: center;
  width:60%;
}

.site-title {
  font-family:$spicy-rice;
  font-size:80px;
  background: #141414;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site-title:hover {
  background: rgb(255,131,87); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(255,131,87,1) 0%, rgba(250,193,114,1) 49%, rgba(137,213,201,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,131,87,1) 0%,rgba(250,193,114,1) 49%,rgba(137,213,201,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,131,87,1) 0%,rgba(250,193,114,1) 49%,rgba(137,213,201,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
